.TodoItem {
    height: 50px;
    align-items: center;
    border-bottom: 1px solid $gray;

    .anticon-close-circle {
        display: none;
    }

    .ant-checkbox-wrapper {
        margin: 0 20px;
    }
    
}

.TodoItem-input-container {
    width: 100%;
    align-items: center;
}

.TodoItem:hover {
    .anticon-close-circle {
        display: inline-block;
        margin: 0 20px;
    }
}

.TodoItem-content {
    justify-content: space-between;
}

.TodoItem-content.completed {
    text-decoration: line-through;
}